*{
    margin: 0px;
    padding: 0px;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: var(--font_principal);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
:root {
	--cor_principal: #131520;
    --borda_princiapl:#40475e;
    --cor_principal_hover: #31333e;
    --cor_texto:#9fa6bc;
    --cor_tabel:#141824;
    --cor_texto_sub: rgba(138, 148, 173);

    --cor_sub_bloco:#141824;
}

.row{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
}

.custom-input:focus {
    outline: none;
    background-color: #03303d;
  }

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
  

/*computador*/
@media screen and (min-width:1000px){
    .bloco .bloco-left{
        width: 220px;
    }
  
    .bloco .bloco-left .categoria .topo i{
        font-size: 1.5em;
    }
    .bloco .bloco-left .categoria .topo  p{
        font-size: 1.1em;
    }
    .bloco .bloco-left .categoria .topo{
        padding:20px;
    }
    .bloco .bloco-left .categoria nav ul li p{
        font-size: 0.9em;
    }
    .bloco .bloco-left .categoria nav ul li p i{
        font-size: 1.1em;
    }
    .bloco .bloco-left .categoria nav ul ul li a{
        font-size: 0.85em;
    }
    .bloco .bloco-right .topo .left p{
        font-size: 1.2em;

    }
    .bloco .bloco-right .topo {
        padding: 20px;
    }
    .bloco .bloco-right .topo .right{
    
        right: 50px;
      
    }
    .bloco .bloco-left .categoria .footer p{
        font-size: 0.6em;

     }
     .topo .menu-mobile{
        display: none;
        
     }
    
}

/*celular*/
@media screen and (max-width:1000px){
    .bloco .bloco-left{
        display: none;
    }
    .bloco .bloco-left .categoria{
        width: 100px;
    }
    .bloco .bloco-left .categoria .topo{
       
    }
    .bloco .bloco-left .categoria .topo i{
        font-size: 1.0em;
    }
    .bloco .bloco-left .categoria .topo  p{
        font-size:0.8em;
        display: none;
    } 
    .bloco .bloco-left .categoria nav ul li p{
        font-size: 0.8em;
    }
    .bloco .bloco-left .categoria nav ul li p i{
        font-size: 0.8em;
    }
    .bloco .bloco-left .categoria nav ul ul li a{
        font-size: 0.7em;
    }
    .bloco .bloco-right .topo {
        padding: 10px;
    }
    .bloco .bloco-right .topo .left p{
        font-size: 0.9em;
        display: none;

    }
    .bloco .bloco-right .topo .right{
        right: 20px;
       
        top: 20px;
    }

    .bloco .bloco-left .categoria .footer p{
        font-size: 0.4em;

     }
     .topo .menu-mobile{
        margin: 0px;
     }
     .topo .menu-mobile button{
        margin: 0px;
       padding: 0px;
        
     }
     .topo .menu-mobile button i{
       color: white;
       font-size: 1.5em;
     }
   


}

form .form-control{

}

table td{
    font-size: 0.9em;
}

.bloco{
   
    display: flex;

    position: relative;
   
    height: 100vh;
    margin: 0 auto;
}

.bloco .bloco-left{

 
    /* background-color: #024b61; */
    background-color: var(--cor_principal);
    border-right: 1px solid var(--borda_princiapl);
 
}

.bloco .bloco-left .categoria {
 position: relative;
 height: 100%;

  
}
.bloco .bloco-left .categoria .topo{
 
    text-align: center;
    color: var(--cor_texto);
   

}

.bloco .bloco-left .categoria nav{

    margin-top: 10px;
    position: relative;
}
.bloco .bloco-left .categoria nav ul {
    padding: 0px;

    cursor: pointer;
  
}

.bloco .bloco-left .categoria nav ul li{
    list-style: none;
    color: white;
    text-decoration: none;
    padding: 0px;
    margin: 0px ;

}.bloco .bloco-left .categoria nav ul li:hover{
    background-color: var(--cor_principal_hover);
}
.bloco .bloco-left .categoria nav ul li I{
    margin-left: 2px;
}

.bloco .bloco-left .categoria nav ul li p{
    padding: 13px;
    margin-bottom: 0px;
}
.bloco .bloco-left .categoria nav ul li p i{
    margin-right: 5px;

}
.bloco .bloco-left .categoria nav ul ul{
    display: none;
    left: 0;
	right: 0px;

    padding: 0px;


}
.bloco .bloco-left .categoria nav ul ul li{
    padding: 2px;
}

.bloco .bloco-left .categoria nav ul ul li:hover{
    border-left: 2px solid white;
}
.bloco .bloco-left .categoria nav ul ul li a{
	padding: 0px;
	font-weight:500;
    padding: 7px;
	color: #bbbbbb;
	display: block;
	transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.bloco .bloco-left .categoria nav ul ul li a:hover{
   transform:translateX(2px);
   transition: 0.2s ease-in-out;
   color: white;
}
.bloco .bloco-left .categoria nav ul ul li a:hover{
	
}
.bloco .bloco-left .categoria nav  ul li:hover ul{
	display: block;

}
.bloco .bloco-left .categoria .footer{
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
}
.bloco .bloco-left .categoria .footer p{

   color: #bbbbbb;
}


/* menu mobile */
.topo .offcanvas-start{
    background-color: var(--cor_principal);
    overflow: auto;
   
 }
 .topo .offcanvas-start h5{
    color: white;
 }
 .topo .offcanvas-start .offcanvas-header button {
    background-color:unset;
    border: 0px;
 }
 .topo .offcanvas-start .offcanvas-header button i{
    font-size: 1.2em;
    color: white;
 }
 .topo .offcanvas-start nav{
    color: white;
    overflow: auto;
 }
 
 .topo .offcanvas-start nav ul{
    padding: 0px;
    overflow: auto;
 }


 .topo .offcanvas-start nav ul li{
    list-style: none;
    color: white;
    text-decoration: none;
    padding: 0px;
    margin: 0px ;

} .topo .offcanvas-start nav ul li:hover{
    background-color: var(--cor_principal_hover);
}
.topo .offcanvas-start nav ul li I{
    margin-left: 2px;
}

.topo .offcanvas-start nav ul li p{
    padding: 13px;
    margin-bottom: 0px;
}
.topo .offcanvas-start nav ul li p i{
    margin-right: 5px;

}
.topo .offcanvas-start nav ul ul{
    display: none;
    left: 0;
    right: 0px;

    padding: 0px;


}
.topo .offcanvas-start nav ul ul li{
    padding: 2px;

}

.topo .offcanvas-start nav ul ul li:hover{
    border-left: 2px solid white;
}
.topo .offcanvas-start nav ul ul li a{

    padding: 0px;
    font-weight:500;
    padding: 7px;
    color: #bbbbbb;
    display: block;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.topo .offcanvas-start nav ul ul li a:hover{
    margin-left: 5px;
}
.topo .offcanvas-start nav ul ul li a:hover{
    color: var(--yellow);
}
.topo .offcanvas-start nav  ul li:hover ul{
    display: block;

}


.bloco .bloco-right {

    width: 100%;
    position: relative;
 
    height: 100%;
    min-height: 500px;
    margin-bottom: 0px;
    background-color: #F8F8F8;
    overflow: auto;

}
.bloco .bloco-right .topo{ 
    background-color: var(--cor_principal);
    border-bottom: 1px solid var(--borda_princiapl);
    border-left: 1px solid var(--borda_princiapl);
    width: 100%;
   
    display: flex;
    position: relative;
 
}
.bloco .bloco-right .topo .left{

}

.bloco .bloco-right .topo .left p{
    margin: 0px;
    font-weight: 600;
    color: white;

}

.bloco .bloco-right .topo .right{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: baseline;
    cursor: pointer;
    
}

.bloco .bloco-right .topo .right ul {
    padding: 0px;
  
    cursor: pointer;
}
.bloco .bloco-right .topo .right ul li{
    list-style: none;
    padding: 10px;
    color: var(--cor_texto_sub);
    padding-top: 0px;
    padding-bottom: 0px;
}
.bloco .bloco-right .topo .right ul li i{

font-size: 1.3em;

}





.bloco .bloco-right .topo .right ul ul{
    transition: all 0.5s ease-in-out;
    display: none;
    right:  1px;
    position: absolute;
    padding: 0px;
    border: 1px solid;
    width: 140px;
    padding: 7px;
    cursor: pointer;
    background: rgba( 3, 48, 61, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 2;
}

.bloco .bloco-right .topo .right ul ul li{
    padding: 3px;
    transition: 0.3s ease-in-out;
}
.bloco .bloco-right .topo .right ul ul li a{
    color: white;
    text-decoration: none;
    display: block;
}

.bloco .bloco-right .topo .right ul ul li:hover{
    margin-left: 3px;
    color: #bbbbbb;
}

/* .bloco .bloco-right .topo .right ul li:hover ul{
	display: block;

} */
.bloco .bloco-right .btn_notificacao {
  padding: 5px;
}

.bloco .bloco-right .btn_notificacao i{
   color: white;
   font-size: 1.1em;
}

.bloco .bloco-right .topo .right #seta_dropdown{
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.bloco .bloco-right .topo #dropdown_user{
 display: flex;
 flex-wrap: wrap;
   
}
.bloco .bloco-right .topo nav .user p{
    color: white;
    margin: 0px;
    padding: 0px;
}

.bloco .bloco-right .bloco-pesquisa{
    height: 80vh;
    position: relative;
}

.bloco .bloco-right .group-pesquisa{
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding-top: 50px;
    position: relative;
}

.bloco .bloco-right .bloco-pesquisa .bloco-pesquisa-1{
    width: 100%;
    width: fit-content;
}

.bloco .bloco-right .bloco-pesquisa .bloco-pesquisa-1 .row{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.bloco .bloco-right .bloco-pesquisa .bloco-pesquisa-1 .input-pesquisa{
    border: 1px solid rgb(179, 179, 179);
    width: fit-content;
    border-radius: 2px;
    padding: 3px;
}

.bloco .bloco-right .bloco-pesquisa .bloco-pesquisa-1 .input-pesquisa input{
    width: 350px;
    padding: 3px;
    border: 0px;
    outline: none;
}
.bloco .bloco-right .bloco-pesquisa .bloco-pesquisa-1 .input-pesquisa i{
    font-size: 1.2em;
    cursor: pointer;
}
.bloco .bloco-right .bloco-pesquisa .bloco-pesquisa-2 .group-input-data{
    display: flex;
}
.bloco .bloco-right .bloco-pesquisa .bloco-pesquisa-2 {
    text-align: center;
}
.bloco .bloco-right .bloco-pesquisa .bloco-pesquisa-2 .group-input-data input{
    width: 120px;
    padding: 2px;
    margin: 5px;
}

.bloco .bloco-right .bloco-pesquisa .tabela{
    padding: 50px;
    height: 90%;
    margin: 0px;
    overflow: auto;
}


.bloco .bloco-right .bloco-pesquisa .tabela .thead-dark{
    background-color: var(--cor_principal);
}

.bloco .bloco-right .bloco-pesquisa .tabela .thead-dark tr th{
    color: white;
}

.bloco-pesquisa{
 position: relative;
}

.bloco-pesquisa .bloco-btn .btn-add{
    padding:5px 10px 5px 10px;
    color: white;
    background-color: #03303d;
    border-radius: 2px;
}

.bloco-pesquisa .bloco-btn a{
    text-decoration: none;
}

.bloco-topo{
    padding: 7px;
    background-color: #0f111a;
}

 .bloco-topo p{
    color: #bbbbbb;
    font-size: 0.9em;
    font-weight: 600;
    margin-left: 20px;
    margin: 0px;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1{
    padding: 30px;
    position: relative;
    align-items: center;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    margin: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 form{
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    animation: opacity 0.5s forwards;
 
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 .modal form{
    max-height:100%;

 
}

.bloco-pesquisa-1 form::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}

.bloco-pesquisa-1 form::-webkit-scrollbar-track {
    /* color of the tracking area */
    border: 2px solid #131520;
    border-radius: 20px;   
}
.bloco-pesquisa-1 form::-webkit-scrollbar-thumb {
    background: #051827;   /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--borda_princiapl);  /* creates padding around scroll thumb */
}



.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 form .card-tarefa{
    background-image: radial-gradient(circle at 43.84% -20.44%, #f1f1f4 0, #f1f1f4 50%, #f1f1f4 100%);
    border-radius: 10px;
    border: 0px;
    transition: 0.2s ease-in-out;
}
.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 form .card-tarefa .card-body{
    border-radius: 10px;
    border: 0px;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 form .card-tarefa:hover{
    -webkit-box-shadow: 7px 6px 15px -5px rgba(19,21,32,1);
    -moz-box-shadow: 7px 6px 15px -5px rgba(19,21,32,1);
    box-shadow: 7px 6px 15px -5px rgba(19,21,32,1);
    border-radius: 10px;
    border: 0px;
}


.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 .btn_ativo{
    background-color:var(--cor_principal);
    color: white;
}


.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 .msg{
    position:absolute;
    right: 30px;
    z-index: 5;
    top: 20px;
    cursor: pointer;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 .msg i{
    color:var(--cor_sub_bloco);
    font-size: 1.2em;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 .msg p{
    display: none;
    width: 170px;
    background-color: #0F111A;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.0em;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 .group-input{
    display: block;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 input, select{
    display: block;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 select:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 label{
    
}

.bloco .bloco-right .bloco-pesquisa-menu .title{
    margin-bottom: 5px;
    width: fit-content;
}

.bloco .bloco-right .bloco-pesquisa-menu  hr{
    color: rgb(188, 188, 188);
    margin-top: 0px;
}

.bloco .bloco-right .bloco-pesquisa-menu  .title label{
    color: white;
    margin: 0px;
    padding: 2px 10px 2px 10px;
    background-color:#40475e;
    border-radius: 5px;
    font-size: 0.8em;
    transition: 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}
.bloco .bloco-right .bloco-pesquisa-menu   .title label:hover{
    transform: translateX(5px);
}

.bloco .bloco-right .bloco-pesquisa-menu .title .msg_title{
    display: none;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.bloco .bloco-right .bloco-pesquisa-menu .title:hover .msg_title{
    display:block;
    position: absolute;
    padding: 5px;
    z-index: 5;
    background-color: #03303d;
    border-radius: 5px;
    color: white;
    top: 0px;
    opacity: 0.8;
}

.bloco .bloco-right .bloco-pesquisa-menu .title:hover .msg_title p{
    margin: 0px;
    font-size: 0.8em;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1  .group-btn{
   
    float: right;
    margin-top: 20px;
    width: 100%;
    
}
.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1  .group-btn button{
    margin: 5px;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-1 .tabela{
    overflow: auto;
}


.bloco-pesquisa-1 .tabela::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
    }
    
    .bloco-pesquisa-1 .tabela::-webkit-scrollbar-track {
    /* color of the tracking area */
    border: 2px solid #131520;
    border-radius: 20px;   
    }
    .bloco-pesquisa-1 .tabela::-webkit-scrollbar-thumb {
    background: #051827;   /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
    }
    

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-2{
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    position: relative;
}
.card .card-body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}

.card .card-body::-webkit-scrollbar-track {
    /* color of the tracking area */
    border: 2px solid #131520;
    border-radius: 20px;   
}
.card .card-body::-webkit-scrollbar-thumb {
    background: #051827;   /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--borda_princiapl);  /* creates padding around scroll thumb */
}


.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-2 .card .card-body{
    overflow: auto;
    max-height: 300px;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-2 .card .card-body .card_acess{
    margin: 5px;
    padding: 3px;
}
.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-2 .card .card-body .card_acess p{
    margin: 0px;
    font-size: 0.9em;
}
.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-2 .card .card-body ul li ul li{
    display: flex;
    align-items: center;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-2 .card .card-body ul li ul li p{
margin:0px;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-2 .card .card-body ul li ul li a{
    float: right;
    font-size: 0.9em;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-2 .table{
    overflow: auto;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-2 .tabela{
    overflow: auto;
    max-height: 550px;
}

.bloco .bloco-right .bloco-pesquisa-menu .bloco-pesquisa-2  table{
    overflow: auto;
    animation: opacity 0.5s forwards;
 
}

.max_width_descricao{
    max-width: 350px;
}
.bloco-pesquisa-2 .tabela::-webkit-scrollbar {
width: 10px;               /* width of the entire scrollbar */
}

.bloco-pesquisa-2 .tabela::-webkit-scrollbar-track {
/* color of the tracking area */
border: 2px solid #131520;
border-radius: 20px;   
}
.bloco-pesquisa-2 .tabela::-webkit-scrollbar-thumb {
background: #051827;   /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */

}

.bloco .bloco-right::-webkit-scrollbar {
width: 10px;               /* width of the entire scrollbar */
}

.bloco .bloco-right::-webkit-scrollbar-track {
/* color of the tracking area */
border: 2px solid #131520;

}
.bloco .bloco-right::-webkit-scrollbar-thumb {
background: #051827;   /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid var(--borda_princiapl);  /* creates padding around scroll thumb */
}

.bloco .bloco-right  form .dv{
    background: rgb(50,58,83);
    background: -moz-linear-gradient(90deg, rgba(50,58,83,1) 3%, rgba(27,44,97,1) 60%);
    background: -webkit-linear-gradient(90deg, rgba(50,58,83,1) 3%, rgba(27,44,97,1) 60%);
    background: linear-gradient(90deg, rgba(50,58,83,1) 3%, rgba(27,44,97,1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323a53",endColorstr="#1b2c61",GradientType=1);
}

.img_alert_pesquisa{
    width: 300px;
    margin: 0 auto;
}

.img_alert_pesquisa p {
    text-align: center;
    font-weight: 600;
    color: #7d7d7d;
}

.sobre{
    margin: 100px auto;
}
.sobre  p{
    margin: 0px;
    color: #7d7d7d;
    font-size: 0.9em;
}
.sobre img{
    width: 50%;
}

.td-btn{
    width: 20px;
}

.label_box{
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background: rgb(50,58,83);
    background: -moz-linear-gradient(90deg, rgba(50,58,83,1) 3%, rgba(27,44,97,1) 60%);
    background: -webkit-linear-gradient(90deg, rgba(50,58,83,1) 3%, rgba(27,44,97,1) 60%);
    background: linear-gradient(90deg, rgba(50,58,83,1) 3%, rgba(27,44,97,1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323a53",endColorstr="#1b2c61",GradientType=1);
    color: white;
    font-size: 0.9em;
}

.info_cancelado{
    color: red;
    font-size: 1.2em;
}

#carregando{
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
}
.status_caixa{

    max-height: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

.status_caixa_card .img_status{
    max-height: 300px;
    
    margin: 0px;
}